<style>
.message {
  margin-top: 40px;
}
.message h3 {
  color: #0d0;
}
</style>

<h1>About</h1>

<div>
  なんか静的ページ的なもの

  <div class="message">
    <h3>表示成功！</h3>
    <% nil_object.do_something %>
  </div>
</div>


